@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.NavBar {
  width: 100%;
  transition: .3s;
  position: fixed;
  z-index: 999;
  background-color: #001b2d;
}

.NavBar a {
  cursor: pointer;
}

.NavBar a:active ~ .NavBar {
    display: none;
}

.NavBar header {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba(0, 27, 45, 0.8);
}

.NavBar .nav-container {
  width: 90%;
  margin: auto;
}

.NavBar .nav-checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 1rem 0;
}

.NavBar .logo {
  text-decoration: none;
  color: #fff;
  padding-left: 1rem;
}

.NavBar .tab-nav {
  outline: none;
  display: none;
}

.NavBar .tab-nav-label {
  display: none;
  color: #fff;
}

.NavBar .tab-content {
  grid-column: 3;
  list-style: none;
  margin: 0;
  padding: 0;
}

.NavBar .tab-content li {
  display: inline-block;
  padding-right: 1rem;
}

.NavBar .tab-content li a {
  text-decoration: none;
  color: #fff;
  position: relative;
}


@media screen and (max-width: 1280px) {
  .NavBar .nav-container {
    width: 100%;
  }

}

@media screen and (max-width: 768px) {
  .NavBar .tab-nav-label {
    display: grid;
    cursor: pointer;
    grid-column: 3;
    padding-right: 1rem;
  }

  .NavBar .tab-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/4;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
  }

  .NavBar input:checked ~ .tab-content {
    max-height: 400px;
  }

  .NavLink li:active ~ .tab-content {
    max-height: 0;
  }

  .NavBar .tab-content li {
    padding: 1rem 0;
  }
}

.cta  {
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0 1rem;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all .3s ease;
}

.cta:hover {
  background-color: rgba(0, 136, 169, .8);
}
